.page-banner{
    background-image: url("../../../Utilities/Images/page-banner.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    height:30vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    
    align-items: center;
    text-align: left;
}
.page-banner h5{
    font-family: 'Lobster', cursive;
    color:#f1c40f;
}
.page-banner h1{
    font-weight: bold;
    font-family: arial;
    color:#fff;
}